
{% extends "layout.html" %}
   <h1>HELLO WORLD</h1>

   {% block content %}
   <div class = "row">
      <form class = "col s12">
         <div class = "row">
            <label>Testing File Input</label>
            <div class = "file-field input-field">
               <div class = "btn">
                  <span>Browse</span>
                  <input type = "file" />
               </div>
               
               <div class = "file-path-wrapper">
                  <input class = "file-path validate" type = "text"
                     placeholder = "Upload file" />
               </div>
            </div>
         </div>

      </form>  
      
   </div>

   
   <div class="row">
      <div class="col s6 offset-s3">
         <div class="card">
            <div class="card-image">
            <img id="bg" src="{{ url_for('video_feed') }}">
            <span class="card-title">Scan QR Code</span>
            </div>
            <div class="card-content">
            <p>Please scan your QR code</p>
            </div>
         </div>
      </div>
   </div>
   

   {% endblock %}